@media only screen and (max-width: 1030px) {
  .innertext {
    padding: 3rem 2rem 2rem 2rem;
  }

  .section1 {
    padding: 5rem 5rem;
  }
  .whatswrong {
    padding: 3rem 6rem;
  }
  .cust-needs {
    padding: 4rem 6rem;
  }

  .sol-text {
    padding: 2rem;
  }
}

@media only screen and (max-width: 768px) {
  /* .innertext {
    padding: 1rem 0rem 0rem 1rem;
  } */
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1rem;
  }

  .whatswrong {
    padding: 3rem 0rem;
  }
  hr.border-bottom {
    width: 47%;
    height: 2px;
    background-color: gray;
    margin: -4px 8rem;
  }
  .splitdiv {
    padding: 1rem 1rem;
  }
  .numdiv {
    padding: 1rem;
    height: 10rem;
    width: 10rem;
  }
}
@media only screen and (max-width: 500px) {
  .custo-img {
    display: none;
  }
  .mobilenext {
    display: block;
  }
  .section1 {
    padding: 4rem 0.3rem;
  }
  .cust-needs {
    padding: 4rem 1rem;
  }
  .sol-img {
    display: none;
  }

  .numdiv {
    padding: 1rem;
    height: 16rem;
    width: 16rem;
  }
  .bordered {
    height: 14rem;
  }
  .num94 {
    font-size: 6rem;
  }
}

@media only screen and (max-width: 380px) {
  .bordered {
    height: 12rem;
  }
  .num94 {
    font-size: 5rem;
  }
  .numdiv {
    padding: 1rem;
    height: 14rem;
    width: 14rem;
  }
}

@media only screen and (max-width: 320px) {
  .bordered {
    height: 10rem;
  }

  .numdiv {
    padding: 1rem;
    height: 12rem;
    width: 12rem;
  }
}
