/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

* {
  box-sizing: border-box;
}
*:focus {
  outline: none;
}
body {
  font-family: "Open Sans", sans-serif;

  margin: 0px;
  padding: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

/* section {
  padding: 8 0px 0;
  overflow: hidden;
} */
.red {
  background-color: #e10921;
}
.uppercase {
  text-transform: uppercase;
}
.white-text {
  color: white;
}
.red-text {
  color: #e10921;
}
.grayback {
  background-color: #f2f2f2;
}
.boldtext {
  font-weight: 900;
}
.x-large {
  font-size: x-large;
}
.xl-large {
  font-size: xx-large;
}
.white {
  background-color: #fff;
}
.gray-text {
  color: gray;
}
.align-centar {
  text-align: center;
}
.black {
  background-color: black;
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: #fff;
  transition: all 0.5s;
  z-index: 997;
  height: 86px;
  width: 100vw;
}

#header.fixed-top {
  height: 100px;
}

#header .logo1 img {
  max-height: 70px;
}
#header .logo2 img {
  max-height: 50px;
}
.logo2 {
  padding: 10px;
}

.scrolled-offset {
  margin-top: 100px;
}

/*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/

.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar > ul > li {
  white-space: nowrap;
  padding: 10px 0 10px 28px;
}

.navbar a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  font-size: 15px;
  font-weight: 600;

  white-space: nowrap;
  transition: 0.3s;
  position: relative;
}
.scrollto {
  color: #222222;
}

.navbar a i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar > ul > li > .scrollto:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -6px;
  left: 0;
  background-color: #e10921;
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover:before,
.navbar li:hover > a:before,
.navbar .active:before {
  visibility: visible;
  width: 100%;
}

.navbar .scrollto:hover,
.navbar .active,
.navbar li:hover > .scrollto {
  color: #e10921;
}

.regBtn {
  border: 2px solid #e10921;
  background-color: transparent;
  color: #e10921 !important;
  padding: 10px 10px;
}
.regBtn:hover {
  color: white !important;
  background-color: #e10921;
}

/**
  * Mobile Navigation 
  */
.mobile-nav-toggle {
  color: #222222;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}
@media (max-width: 1130px) {
  .logo2 {
    display: none;
  }
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }
  .navbar ul,
  .logo2 {
    display: none;
  }
}
/* .regBtn {
  text-decoration: underline;
  border: none;
} */

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(9, 9, 9, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile ul .navbar-mobile a {
  padding: 10px 20px;
  font-size: 15px;
  color: #222222;
}

.navbar-mobile > ul > li {
  padding: 0;
}

.navbar-mobile a:hover:before,
.navbar-mobile li:hover > a:before,
.navbar-mobile .active:before {
  visibility: hidden;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover > a {
  color: #e10921;
}

.navbar-mobile .getstarted {
  margin: 15px;
}
/*////////////////////////////////////// PROBLEM SECTION/////////////////////////////////////////////////////////////// */

/* couresel */
.customer-carosel {
  display: flex;

  position: relative;
  height: 70vh;
  width: auto;
  overflow: hidden;
}
.innertext {
  padding: 7rem 2rem 2rem 2rem;
  font-weight: bolder !important;
}
.custo-img {
  width: 50%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.verticallr {
  writing-mode: vertical-lr;
  height: 73%;
}
.verticalnext {
  transform: rotate(180deg);
  height: 93%;
}
.mobilenext {
  transform: rotate(180deg);
  display: none;
}
.verticallr:hover,
.explore:hover {
  color: white;
}
.explorewrap {
  margin-top: -5rem;
}

/* section1 */

.section1 {
  padding: 5rem 18rem;

  background-color: #fff;
}
hr:not([size]) {
  height: 3px;
  width: 35px;
  margin-left: 49%;
}
/* whats wrong section */

.whatswrong {
  padding: 3rem 10rem;
}
/* ////////////SOLUTION SECTION///////////// */
#solution {
  padding-bottom: 15rem;
}

/* CUSTOMER NEEDS */
.cust-needs {
  padding: 4rem 11rem;
}
/* CAROSEL/SLIDER 010203 */
.sol-slide {
  height: 70vh;
}
.sol-img {
  background-image: url("../images/customer-carousel/1.png");
  width: 50%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.sol-text {
  padding: 4rem;
}
hr.border-bottom {
  width: 64%;
  height: 2px;
  background-color: gray;
  margin: -4px 10rem;
}
.numcar {
  padding: 4px;
}
#solTextTitle {
  margin-top: 2rem;
}
.radios {
  margin-top: 2rem;
}
.radios > input {
  margin: 5px;
  background-color: #e10921;
}
.form-check-input {
  background-color: #fff;
}
.form-check-input:checked {
  background-color: white;
}
.form-check-input[type="radio"] {
  border-radius: 50%;
  color: white;
  border: 2px solid;
  box-shadow: none;
}
/* ////////////////////REGISTER SECTION//////////////// */
/* #register {
  position: absolute;
} */
.splitdiv {
  position: relative;
  top: -10rem;
  padding: 3rem 3rem;
  box-shadow: 5px 0px 10px 0px rgba(57, 57, 57, 0.4);
}
.num94 {
  font-size: 4rem;
}
.bordered {
  border: 2px solid white;
}
.numdiv {
  padding: 1.5rem;
  height: 12rem;
  width: 12rem;
  margin-top: 1rem;
}

/* form */
form {
  margin-bottom: 4rem;
}
.registerform {
  color: white;
  background-color: black;
  margin-bottom: 1rem;
  border: none;
  border-bottom: 2px solid white;
  border-radius: 0px;
}
.registerform:focus {
  background-color: black;
  color: #e10921;
  border: none;
  outline: none !important;
  border-bottom: 2px solid #e10921;
}
.registerform::-webkit-input-placeholder {
  color: white;
}
.registerform:focus::-webkit-input-placeholder {
  color: #e10921;
}
.signme {
  border: 2px solid white;
  padding: 6px 24px 6px 24px;
}
/* RESOURCE SECTION */
#resource {
  padding: 4rem;
}
.card {
  border: none;
}

.icon-img {
  align-self: center;
  height: 131px;
  width: 102px;
  margin: 15px;
}
.downloadlink {
  text-decoration: none;
  color: black;
}
.downloadlink:hover {
  color: #e10921;
}
.rowtwo {
  margin-top: 15px;
}
/* about us */
.about {
  margin: 3rem;
}
/* footer */

footer {
  height: 10vh;
}
